
* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    color: #fff;
    background-color: #333;
    margin: 0;
    overflow-x: hidden;
}

header {
    min-height: 100vh;
}

header .container {
    max-width: 100vw;
    margin: 0 auto;
    padding: 1rem 2rem;
}


header .container .navbar {
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*
styling the logo text, because no icon or image has been used..
sorry about that.
*/
header .container .navbar .logo {
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
    color: #40e2a0;
    font-weight: 700;
}

header .container .navbar {
    margin-right: 1rem;
}

header .container .navbar .nav-links {
    display: flex;
    align-items: center;
}


header .container .navbar .nav-links li {
    list-style-type: none;
}

header .container .navbar .nav-links li a {
    text-decoration: none;
    color: #fff;
    margin: 0 1rem;
    font-weight: 400;
    font-size: 1.05rem;
    position: relative;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0.75rem 1rem;
    border-radius: 6px;
    background: transparent;
}



header .container .navbar .nav-links li a.active{
    font-weight: bolder;
}


/* nav "button" */
header .container .navbar .nav-links li.buttons > a:first-child {
    border: 1px solid transparent;
    background: #40e2a0;
}

header .container .navbar .nav-links li.buttons > a:last-child {
    border: 1px solid #fff;
    background: transparent;
}

/*
styling the background to appear as a underline on hover
:nth-last-child pseudo class makes this css work on all li-items except the last two
*/
header .container .navbar .nav-links li:nth-last-child(n+2) a::after {
    position: absolute;
    content: "";
    background-color: #40e2a0;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 3px;
    transition: 0.3s ease all;
}

header .container .navbar .nav-links li a:hover::after {
    width: 100%;
}


header .container .navbar i {
    display: none;
    color: #fff;
    cursor: pointer;
}

header .container .showcase {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

header .container .showcase h1 {
    color: #fff;
    font-size: 2.6rem;
    font-weight: 700;
}

header .container .showcase p {
    margin-top: 0;
    color: #fff;
    font-weight: 500;
    line-height: 1.4;
    width: 30rem;
}

header .container .showcase button {
    margin-top: 1rem;
    background-color: #40e2a0;
    color: #fff;
    border: none;
    outline: none;
    padding: 1rem 1.5rem;
    font-size: 0.9rem;
    border-radius: 6px;
    cursor: pointer;
}

/* sizing and positioning video up and behind hero-text */
header .video-container {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

header .video-container video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*  dark background overlay on video */
header .video-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.82);
}


/* PRODUCT SECTION */
section.product-cards {
    position: relative;
    gap: 70px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
    align-items: center;
    width: 90%;
}

div.card-box {
    background-color: #2b2b2b;
    justify-content: space-evenly;
    box-shadow: 0 1px 30px 10px rgba(43, 43, 43, 0.71);
    border-radius: 10px;
padding: 15px;
    width: 450px;
    height: 650px;
    position: relative;
    overflow: hidden;
}


div.card-box > div {
    display: flex;
    justify-items: baseline;
    justify-content: space-between;
    width: 100%;
}

div.card-box > div:last-child {
    margin-top: 70px;
}

/* green background, green buttons, white font etc ... */
div.card-box > div:first-child > h5:first-child,
div.card-box > div:first-child > h5:last-child,
div.card-box > div:last-child > a {
    font-weight: bold;
    width: 35%;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    background-color: #40e2a0;
    color: #fff;
    box-shadow: 0 1px 30px 10px rgba(43, 43, 43, 0.71);

}

div.card-box > div:first-child > h5:first-child {
    border-left: 2px solid mediumpurple;
    background: none;
}

div.card-box > div:last-child > a:first-child {
    width: 55%;
}

div.card-box > div:last-child > a:last-child {
    background-color: mediumpurple;
}

div.card-box > img {
    text-align: center;
    width: 100%;
    border-radius: 10px;
}

footer {
    background-color: #2b2b2b;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    text-align: center;
    position: relative;
    font-size: 14px;
    margin-top: 80px;
    width: 100%;
}

footer > div {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    font-weight: bold;
    text-align: center;
    position: relative;
    width: 25%;
}

footer > div:nth-child(2) {
    width: 50%;
}

footer > div:last-child {
    font-size: large;
    justify-content: space-around;
}

footer > div > p > a {
    text-decoration: none;
    color: #e7e7e7;
}

h2 {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    margin: 50px 50px;
    padding-left: 20px;
    border-left: 5px solid #40e2a0;
    text-shadow: 2px 2px #2b2b2b;
}








/* TABLET VIEW */
@media only screen and (max-width: 1010px) {
    #burger {
        visibility: visible;
    }
    header .container .navbar .nav-links {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #333;
        height: 100%;
        width: 255px;
        margin: 0;
        padding: 0;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transform: translateX(-100%);
        transition: 0.4s ease all;
        z-index: 10;
    }

    header .container .navbar .nav-links li a {
        color: #e7e7e7;
    }

    header .container .navbar .nav-links li a::after {
        background-color: #40e2a0;
    }

    header .container .navbar .nav-links.active {
        transform: translateX(0%);
    }

    header .container .navbar i {
        display: block;
    }

    header .container .showcase {
        min-height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;
    }


    footer > div:first-child{
        display: none;
    }

}
